@font-face {
  font-family: "Noto Color Emoji";
  src: url(https://gitcdn.xyz/repo/googlefonts/noto-emoji/master/fonts/NotoColorEmoji.ttf);
}
#menu {
  display: flex;
  position: fixed;
  width: calc(100% - 15px * 2);
  height: calc(100vh - 120px);
  /* height: 100vh; */
  margin: 15px;
  margin-top: 0px;

  margin-bottom: 30px;
  border-radius: 30px;
  z-index: 20;
  border: 2px solid #121111;
  border-bottom: 4px solid #121111;
  border-right: 4px solid #121111;

  top: 109px;
  background: #fbf8ee;
  backdrop-filter: blur(8px);
  transform: scale(0);
  flex-wrap: wrap;
  transition: transform 0.5s;
  z-index: 30;
}

#menu__items {
  height: 100%;
  flex-basis: 60%;
  flex-grow: 1;
}

.menu__item:first-child {
  margin-top: 30px;
}
.menu__item {
  font-size: 30px;
  width: 100%;
  height: 10%;
  /* border-bottom: 1px solid red; */
  display: flex;
  align-items: center;
}
.menu__item a {
  margin-left: 5%;
  text-decoration: none;

  color: #121111;
}

#menu__config {
  margin-top: 30px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border-left: 2px solid red; */
}

#theme__button:checked {
  background: red;
  outline: 3px solid red;
}
#theme__button:unchecked {
  color: blue;
}

#menu__config-lang {
  border: none;
  background: none;
  cursor: pointer;
}
#menu__config-lang img {
  height: 50px;
}
