#navbar {
  height: 120px;
  width: calc(100% - 15px * 2);
  margin: 15px;
  margin-bottom: 30px;
  border-radius: 30px;
  /* position: absolute; */
  position: sticky;
  top: 5px;
  /* background-color: red; */
  background-color: #fbf8ee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  z-index: 20;
  border: 2px solid #121111;
  border-bottom: 6px solid #121111;
  border-right: 6px solid #121111;

  scroll-margin-top: 5px;
}
#navbar > a,
.nav__link {
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  color: #121111;
  font-weight: 900;
  padding: 1% 2%;
  border: 2px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 20px;
  transition: border-bottom, border-right, border 0.2s;
}
.active {
  border: 2px solid #121111 !important;
  border-bottom: 4px solid #121111 !important;
  border-right: 4px solid #121111 !important;
  border-radius: 20px;
}

#nav__resposive > a {
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  color: #121111;
  font-weight: 900;
  padding: 1% 2%;
  border: 2px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
  border-radius: 20px;
  transition: border-bottom, border-right, border 0.2s;
}
#nav__resposive {
  /* scroll-padding-top: 50px; */
  display: none;
}
#nav__resposive div {
  height: 60px;
  width: 70px;
}
#nav__resposive .hamburger-inner,
#nav__resposive .hamburger-inner::after,
#nav__resposive .hamburger-inner::before {
  background-color: #121111;
  height: 5px;
}
#nav__resposive .hamburger:hover {
  opacity: 0.8;
}
@media screen and (max-width: 720px) {
  #navbar { 
    /* top: 5px; */
    margin-bottom: 0px;
    height: 80px;
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  #navbar > a {
    display: none;
  }

  #nav__resposive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
