@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
html {
  font-family: "Staatliches", cursive;
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

[id] {
  scroll-margin-top: 150px;
}
* {
  font-family: "Staatliches", cursive;
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}
img {
  pointer-events: none;
}
svg {
  pointer-events: none;
}
:root {
  --button-acent: #ffbb00;
  --acent: #fbf8ee;
  --blue-acent: #d0d3ec;
  --black: #121111;
}
